ul, ol {
	margin: 0 0 $space__unit $space__unit;
	li {
		line-height: 1.5;
	}
}

ul {
	list-style: disc;

	
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $space__unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $space__unit $space__unit;
}


ul.is-style-check-list {
	list-style: none;
	position: relative;
	padding: 0;
	margin: $space__unit 0 0;
	
	li {
		margin-bottom: $space-xxs;
		position: relative;
		margin-left: 36px;
	}

	li:before{
		content: '';
		mask: url("./assets/img/circle-check.svg");
		-webkit-mask: url("./assets/img/circle-check.svg");
		position: absolute;
		--size: 23px;
		left: calc(-1 * var(--size) - 10px);
		line-height: var(--size);
		width: var(--size);
		height: var(--size);
		top: 3px;
		background: $color__primary;
	}
}


	
