// Custom text colors
.has-primary-color {
	color: $color__primary;
}

.has-secondary-color {
	color: $color__secondary;
}

.has-accent-color {
	color: $color__primary-dark;
}

.has-white-color {
	color: $color__white;
}


// Custom background colors
.has-secondary-background-color {
	background-color: $color__secondary;
}

.has-primary-background-color {
	background-color: $color__primary;
}

.has-dark-background-color {
	background-color: $color__primary-dark;
}

.has-light-background-color {
	background-color: $color__ligth;
}

.wp-block-group.alignfull.has-background {
	padding-top: $space-xl;
    padding-bottom: $space-xl;

	& > .wp-block-group__inner-container {	
		max-width: 72rem;
		margin-right: auto;
		margin-left: auto;
		padding-right: 1.5rem;
		padding-left: 1.5rem;

		.wp-block-columns {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
}

.wp-block-quote {
	margin-top: $space-xl;
	margin-bottom: $space-xl;
	
	p {
		margin-bottom: .5em;
	}
	
	cite {
		font-size: 80%;
		font-weight: bold;
	}

	&.is-style-default::before {
		border-top: 4px solid $color__primary;
		content: '';
		width: 168px;
		height: 8px;
		display: block;
	}
}

.wp-block-gallery {
	
	&.has-nested-images figure.wp-block-image img {
		width: fit-content;
	}

	&.aligncenter img {
		align-self: center;
	}
}

