<<<<<<< HEAD
=======
.site-header {
    padding-top: $space-xxs;
}

>>>>>>> b7a037c74cfe691635770b98a1fd65989b46665f
#hero {
    background-color: $color__gray;

    .hero-link {
        font-weight: bold;
        padding-right: $space-sm;
    }

    .entry-title {
        padding: $space-xl 0;
    }
    .img-hero {
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            @include breakpoint(mobile) {
                position: relative;
                margin-bottom: -6px;
            }
        }
    }
}

<<<<<<< HEAD
.single #hero, .page-child #hero{
=======
.single #hero{
>>>>>>> b7a037c74cfe691635770b98a1fd65989b46665f
    background-color: $color__ligth;
}

.divider {
    height: $space-xxs;
    background-color: $color__primary;
    max-width: 168px;
    margin-bottom: $space-md;
    margin-top: $space-sm;

}