<<<<<<< HEAD
.site-header{
	padding-top: $space-xxs;
}

.site-search {
	@include breakpoint(laptop) {
		display: none;
	}
}

#top-menu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	li {
		list-style: none;
		position: relative;
		a {
			color: $color__text-main;
			display: flex;
			&:hover {
				color: $color__link-hover;
			}

			svg {
				margin-right: $space-xxs;
				fill: $color__primary;
				@include breakpoint(laptop) {
					width: $space-sm;
					height: $space-sm;
				}
			}

			span {
				@include breakpoint(laptop) {
					font-size: 0;
					text-indent: -99999px
				}
			}
		}
	}
}


.main-navigation {
	display: block;
	width: 100%;
	border-top: 1px solid $color__gray;
	margin-top: $space-xxs;

=======

.main-navigation {
	position: relative;
	display: block;
	float: left;
	width: 100%;
>>>>>>> b7a037c74cfe691635770b98a1fd65989b46665f
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
<<<<<<< HEAD

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
=======
		
		li {
      		width: 120px;
      		float: left;
      		text-align: center;
			position: relative;
      		background-color: #333;
      		transition: all 0.2s ease-in-out;
			  
			&:hover, .focus { // .focus genrerated by js 
        		background-color: #333;
      		}
      		&:hover > ul, .focus > ul {
				left: auto;
			}
      a{
        display: block;
        padding: 1.3em 1em;
	      line-height: 1.2em;
      }
    }
  }
  ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  	float: left;
  	position: absolute;
  	left: -999em; // make sub-menu invisible
  	z-index: 99999;
    li:hover > ul, li.focus > ul {
    left: 100%; // make sub-submenu visible and align right
    }
    ul {
      left: -999em;
      top: 0;
      li {
      width: 120px;
      }
    }
  }
}

/* Menu Burger
----------------*/
.icon-bar {
  background-color: #fff;
  width: 20px;
  height: 2px;
  display: block;
  -webkit-transition: transform .5s linear;
  transition: transform .5s linear;
}
.top-bar, .middle-bar {
  margin-bottom: 5px;
}

/* transform Iconburger */
.icon-bar.transformIconTop {
  -webkit-transform: translate(3px) rotate(45deg) ;
  transform: translate(3px) rotate(45deg);
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.icon-bar.transformIconMiddle {
  opacity: 0;
}
.icon-bar.transformIconBottom {
  -webkit-transform: translate(3px) rotate(-45deg) ;
  transform: translate(3px) rotate(-45deg) ;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

>>>>>>> b7a037c74cfe691635770b98a1fd65989b46665f
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
<<<<<<< HEAD

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

=======
// 48em = 768px / Converter : http://pxtoem.com/ 
@media screen and (min-width: 48em) {
	.menu-toggle {
		display: none;
	}
}

@media screen and (max-width: 47.99em) {
	.main-navigation ul li {
		float: none;
    width: 100%;
	}
  .brand {
    display: none;
  }
}



/* Media query */
@media screen and (min-width: 48em) {
  .menu-toggle {display: none;}
  .main-navigation ul {display: block;}
}
@media screen and (max-width: 47.99em) {
  .main-navigation ul li {float: none;}
  .brand {display: none;}
}





>>>>>>> b7a037c74cfe691635770b98a1fd65989b46665f
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
