/*--------------------------------------------------------------
# Core
--------------------------------------------------------------*/
@import "core/variables";
@import "core/mixins-master";
@import "core/spacing";
@import "modules/blocks";
@import "modules/accordion";
@import "components/cards";

html:where(.editor-styles-wrapper) {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.wp-block {
    max-width: 72rem;
}

.wp-block[data-align="full"] {
    max-width: none;
}

.wp-block[data-align="wide"] {
    max-width: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


.read-more-state {
	display: none;
}
  
.read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}
  
input.read-more-state:checked ~ .read-more-target {
	

    opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

.read-more {
	position: relative;
}

.read-more-trigger {
	width: 100%;
	font-size: 100%;
	font-weight: bold;

	&:hover {
		cursor: pointer;
	}

	&:before {
		content: '';
		position: absolute;
		top: 55%;
		right: 32px;
		border-top: 1px solid $color__gray-dark;
		width: 88%;
		transform: translateY(-50%);
	}

	&:after {
		content: url('./assets/icons/plus.svg');
		position: absolute;
		right: 0;
		top: 4px;
	}
	
}